.grid {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	flex-flow:row wrap;
	justify-content:center;
	//margin-left:-15px;
	//margin-right:-15px;

	&.left {
		justify-content:flex-start;
	}

	&.centered {
		justify-content:center;
	}

	&.right {
		justify-content:flex-end;
	}

	&.multi-line {
		margin-top:-15px;
		margin-bottom:-15px;

		.grid-item {
			padding-top:15px;
			padding-bottom:15px;
		}
	}

	.grid-item {
		position:relative;
		padding-left:15px;
		padding-right:15px;

		&[class*='col-'] {
			float:none; // Turn off bootstrap
		}
	}
}