.slick {
// 	position:relative;

// 	&:not(.slick-initialized) {
// 		display:none;

// 		:first-child {
// 			display:initial;
// 		}
// 	}

// 	.slick-list,
// 	.slick-track,
// 	.slick-slide {
// 		height:100%;
// 	}

// 	.slick-arrow {
// 		position:absolute;
// 		top:0px;
// 		bottom:0px;
// 		width:80px;
// 		border:none;
// 		background:transparent;
// 		z-index:2;

// 		img {
// 			position:relative;
// 			margin:0px;
// 			z-index:1;
// 		}

// 		&:before {
// 			content:'';
// 			position:absolute;
// 			top:0px;
// 			left:0px;
// 			right:0px;
// 			bottom:0px;
// 			opacity:0;
// 			transition:opacity 300ms ease;
// 		}

// 		&:hover:before {
// 			opacity:1;
// 		}

// 		&.slick-prev {
// 			left:0px;

// 			&:before {
// 				background:-moz-linear-gradient(left, rgba(23,26,29,0.6) 0%, rgba(23,26,29,0) 100%);
// 				background:-webkit-linear-gradient(left, rgba(23,26,29,0.6) 0%, rgba(23,26,29,0) 100%);
// 				background:linear-gradient(to right, rgba(23,26,29,0.6) 0%, rgba(23,26,29,0) 100%);
// 			}
// 		}

// 		&.slick-next {
// 			right:0px;

// 			&:before {
// 				background:-moz-linear-gradient(right, rgba(23,26,29,0.6) 0%, rgba(23,26,29,0) 100%);
// 				background:-webkit-linear-gradient(right, rgba(23,26,29,0.6) 0%, rgba(23,26,29,0) 100%);
// 				background:linear-gradient(to left, rgba(23,26,29,0.6) 0%, rgba(23,26,29,0) 100%);
// 			}
// 		}

// 		@media screen and (max-width:$screen-sm-max) {
// 			width:60px;
// 		}
// 	}

	.slick-dots {
// 		position:absolute;
// 		left:0px;
// 		right:0px;
// 		bottom:40px;
		margin:0px;
		margin-top: 100px;
		padding:0px;
		font-size:1px;
		text-align:center;
		// z-index:1;

		li {
			display:inline-block;
			margin:0px 7px;
			padding:0px;
			list-style:none;

			&.slick-active button {
				background:white;
			}
		}

		button {
			width:12px;
			height:12px;
			margin:0px;
			padding:0px;
			border:1px solid white;
			border-radius:12px;
			background:transparent;
			font-size:1px;
			color:transparent;
		}
	}
}